body{
    display: flex;
    flex-direction: column;
    background-color: red;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    background-color: blue;
    padding: 0 64px;
    
}
.header .links{
    display:flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.description{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    padding: 0 64px;
    gap: 32px;
}

.financetxt{
    display: flex;
    flex-direction: column;
    
    
}

.SmithsImg{
    height: 200px;
    width: 300px;
    
}

.inventory{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: auto;
}

.inventory h3{
    text-align: center;
}

.cars{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.cars img{
    width: 100px;
    height: auto;
}

.who{
    background-color: gray;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact{
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: flex;
    justify-content: space-around;
    height:auto;
    align-items: center;
    gap: 64px;
    background-color: antiquewhite;
    padding: 16px;
}